* text=auto

# Makes all the line breaks in the text files be casted to LF
*.{php,md,json,yml} text eol=lf
*.{gitignore,gitattributes} text eol=lf
LICENSE text eol=lf

# Removes excess stuff from the composer package
/tests export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
